
  
.juegos {
  background: rgb(255, 243, 189);
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: auto; 
  box-sizing: border-box;
}
.juegos a {
  background: none;
}
.juegos a img{
  background: none;
}

.juegos p{
  background: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.Delete-Form{
  display: inline-grid;

}
