
  
.juegos {
  background: linear-gradient(220.55deg, #FFC328 0%, #E20000 100%);
  border: 1px solid #000;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 20px;
  width: auto; 
  box-sizing: border-box;
}
.juegos a {
  background: none;
}
.juegos a img{
  background: none;
}

.juegos p{
  background: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
  background: none;
}

.Create-Form{
  display: flex;
  background: none;
  justify-items: center;
  justify-content: center;
}

.Create-Form p{
  background: none;

}

.Create-Form input{
  background: none;
  border: solid 2px;
}

.Create-Form input::placeholder{
  color: black  ;
}


.Create-Form span{
  background: none;

}
.Prueba{
  display: grid;
  border: solid 0.25rem;
  border-radius: 1rem;
  justify-items: center;
  justify-content: center;
  padding: 20px ;

}
