.Create-Button{
  float:right;
  background: none;
}

.List{
  margin: 0px;
  display: inline-table;
  background: none;
}

.Row{
  padding: 1cqi;
  border: 0.25rem solid;
  margin: 50px 10px 10px 10px;
  background: rgb(255, 243, 189);
}


.Change-Button{
  float:right;
  background:none ;
}


.Plus{
  font-size: 2.5rem;
  background: none;
}

.Row p{
  background: none;
}

.Row svg{
  background: none;
}
