*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 1.225rem;
  background:  #DFD1C5;
  
}

p {
  display: inline;
  margin: 0px;
  
}

a{
  text-decoration: none;
}

a svg{
  font-size: 1.55ric;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}

button{
  background: none;
  border: none ;
  font-size: 1.225rem;
}


button svg{
  font-size: 1.55ric;
  float:none;
  background: none;
}

button:hover{
  cursor:pointer;

}

.NavBar{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1rem;
  border: 0.25rem solid;
  padding: 0.5rem;
  background: linear-gradient(220.55deg, #FFF500 0%, #FF00B8 100%);

}

.NavBar a {
  background: none;
}


.Header-Logo{
  justify-content: center;
  display: flex;
  background: none;
  
}
.Header-Logo img{
  background: none;
}

.Footer-Participants{
  background: none;
}

.Footer-Participants h3{
  background: none;
}

.Footer-Participants  ul {
  background: none;
}

.Footer-Participants  ul strong li  {
  background: none;
}

.Footer-Participants  ul li a {
  background: none;
}




