*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: 1.225rem;
  
}

p {
  display: inline;
  margin: 0px;
  
}

a{
  text-decoration: none;
}

a svg{
  font-size: 1.55ric;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
}

button{
  background: none;
  border: none ;
  font-size: 1.225rem;
}


button svg{
  font-size: 1.55ric;
  float:none;
}

button:hover{
  cursor:pointer;

}

.NavBar{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 1rem;
  border: 0.25rem solid;
  padding: 0.5rem;
  background: rgb(251, 228, 126) ;

}


.Header-Logo{
  justify-content: center;
  display: flex;
  
}


