body{
  padding : 0px;
  margin : 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color:whitesmoke; /* definir color scheme*/
  
}


footer{
  margin: 0;
  background-color: red;
}

.divBox{
  
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0px 0px 0px;
  
  background-color: rgba(91, 249, 196,.5);
  padding: 0px;
}

.staticData{
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: -2px;
  border-radius: 8%;
  background-color: rgb(91, 249, 196);

  
}
.staticData p{
  margin: 0px 10px 9px 10px;
  text-align: center;
}

#prueba:hover{
  width: 55px;
  height: 55px;
  text-align: center;
}


h3{
  margin: 0;
}
.logo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
  
}
